@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


*{
    font-family: 'GmarketSansMedium';
    font:'GmarketSansMedium';
}


a {
    text-decoration : none;
    text-decoration-line : none;
    color: black;
}

.body{
    position: relative;
    top: 0px;
    display: flex;
    flex-direction: column;
    font-family: 'GmarketSansMedium';
    font:'GmarketSansMedium';
}

.header{
    position: fixed;
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color:white;
    z-index: 20;
    border-bottom: solid 1px rgba(1,1,1,0.3);
}

.logo{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 77px;
    color: #000000;
    margin-left: 20px;
}


.category {
    display: flex;
    align-items: flex-start;
    margin-left: 20px;
}



.new{
    margin-top: 25 px;
    margin-bottom: 25px;
    margin-left: 37%;
    font-size: larger;
    font-weight: 500;
}

.new a {
    margin:0px 20px ;
}

.category a {
    margin: 5px 10px;

}

.container{
    position: absolute;
    top: 200px;
    left: 250px;
}

