<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'new.css' %}">
        <title>JS.log</title>
    </head>
    <body>
        <div class = "header">
            <a class = "logo" href="{% url 'new'  %}">Js.log 🧑</a>
            <div class = "category">
                <a href="{% url 'category' 1  %}">hobby 💖</a>
                <a href="{% url 'category' 2  %}">food 🍳</a>
                <a href="{% url 'category' 3  %}">programming 💻</a>
            </div>
            <div class = "new">
                <a href="{% url 'new'  %}">글 쓰러 가기</a>
                <a href="{% url 'list'  %}">글 리스트</a>
            </div>
        </div>
        <div class = "container">
            <form action="/new" method = "post" id="myForm">
                {% csrf_token %}
                <div class = "sen">
                    <div>글제목</div>
                    <input type="text" name = "title"/>
                </div>
                <div class = "sen">
                    <div>카테고리</div>
                    <select name="category" form="myForm">
                        <option value="hobby">hobby</option>
                        <option value="food">food</option>
                        <option value="programming">programming</option>
                        <option value="etc">etc</option>
                    </select>
                </div>
                <div class = "sen">
                    <div>글 내용</div>
                    <textarea name="content" cols="100" rows="30"></textarea>
                </div>
                <button type="submit">작성 완료</button>
            </form>
        </div>
    </body>
</html>