{% extends 'base.html' %}
    {% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'list.css' %}">
    {% endblock css %}
    

    {% block content %}
        <p>제목<br>{{post.title}}</p>
        <br>
        <p>내용<br>{{post.content}}</p>
        <br>
        <p>조회수<br>{{post.viewnum}}</p>
        <br>
        <form method="POST">
        {% csrf_token %}
            <label for="comment">댓글</label>
            <input type="text" name = 'content' id = 'comment'style="width:200px;height:60px;font-size:20px;margin: 10px 10px; border: 0; outline: none; background-color: rgb(233, 233, 233); border-radius: 20px;">
            <button type="submit" style="border: none; padding: 15px 30px; border-radius: 15px; ">제출</button>
        </form>
        {% for comment in post.comments.all %}
        <li>
            {{comment.content}}
            <a href="{% url 'deletecomment' post.pk comment.pk %}">댓글 삭제하기</a>
        </li>
        {% endfor %}

        <a href="{% url 'editpost' post.pk %}">수정하기</a>
        <a href="{% url 'deletepost' post.pk %}">삭제하기</a>

    {% endblock content %}
