@font-face {
    font-family: 'EarlyFontDiary';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family:'EarlyFontDiary';
}

a{
    text-decoration : none;
    color: black;
    font-size: 20px;
}

.title{
    background-color: white;
    height: 100px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 20;
}

.logo{
    color:black;
    padding-left: 30px;
}

.logo h2{
    font-size: 30px;
    font-weight: bold;
}

body{
    margin-top: 0px;    
    margin-left: 0px;
    margin-right: 0px;

}

.container{
    text-align: center;

}

.firstline{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(117,222, 211);
    position: relative;
    top: 100px;
}
.post_img{
    padding: 20px 20px;
}

.post_img img{
    height: 300px;
}



.post_title{
    font-style: italic;
    padding: 20px 20px;
    color: azure;
    font-size: 30px;
}

.image{
    height: 300px;
}

.post_box{
    display: inline-block;
    position: relative;
    top: 170px;
    width: 500px;
    min-height: 400px;
    border: solid black 1px;
}



.post_box a{
    font-size: 20px;
}

.post_box .post{
    margin-top: 10px;
}

label{
    font-size: 25px;
}

input{
    width:300px;
    height:100px;
    font-size:30px;
    margin: 10px 10px; 
    border: 0; 
    outline: none; 
    background-color: 
    rgb(233, 233, 233); 
    border-radius: 20px;

}


button {
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

#kakao{
    color:black;
    padding-left: 30px;
    background-color: white;
    padding: 0px;
    box-shadow: none;
    

}